<h1>LIST OF SONGS OF AN ARTIST </h1>

<% @songs.each do |song| %>
 <h3> TITLE OF THE SONG:   <%= link_to song.title, "/songs/#{song.id}" %> </h3>
<% end %>

<p>Average Song Length for <%= @artist.name %>: <%= @artist.average_song_length %> </p>

<p>Average Song Play Count for <%= @artist.name %>: <%= @artist.average_song_play_count %> </p>